# Track Source Files
/*

!/_config.yml
!/README.md
!/index.md
!/_data
!/_includes
!/_layouts
!/_music
!/_research
!/_research_thoughts
!/_writing
!/_writing_essays
!/_writing_fictions
!/_writing_poetry
!/_writing_readings
!/_sass
!/assets
!/script
!/myself.jpg
!/favicon.ico

# Track Ignore File
!/.gitignore